<nav class="navbar navbar-expand-sm navbar-light pad0" *ngIf="NavbarExist" id="navlogos">
  <div class="row col-xs-6 col-sm-12 pad0 margauto">
    <div class="col-4 pad0"></div>
    <div class="col-4 pad0">
      <div class="logos">
        <span class="kkl-logo">
            <img src="./assets/img/logo57X57.png" class="kkl-icon kkl-icon1"  />
            
        </span>
        <span class="container-logo"> 
          <img src="./assets/img/KakalLogo.png" class="kkl-icon kkl-icon2"   />
        </span>
      </div>
    </div>
    <div class="col-4 pad0"></div>
  </div> 
</nav>


<!-- <nav class="navbar navbar-light navbarCollapse"> 
  <div class="logos">
    <span class="kkl-logo">
        <img src="./assets/img/logo57X57.png" class="kkl-icon" width="50px" />
    </span>
    <span class="container-logo"> 
      <img src="./assets/img/NewV1/KKL-120-logo-wide (Eng).png" class="kkl-icon" />
    </span>
  </div>
</nav> -->