<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#87bb40"
  type="ball-scale-multiple">
  <p style="font-size: 20px;">Please wait...</p>
</ngx-spinner>

<!-- <jw-modal id="error-modal" style="display:none">
  
    <div class="errorMsg">{{errMsg}}</div>
    <hr>
    <button (click)="closeModal('error-modal');" class="btn btn-success popup-ok-btn">OK</button>
  </jw-modal> -->

  <jw-modal id="error-modal" style="display:none">
    <!-- <h4>kkl alert</h4>
      <hr> -->
    <div class="errorMsg">{{errMsg}}</div>
    <hr>
    <button (click)="closeModal('error-modal', true);" class="btn btn-success popup-ok-btn"
    *ngIf="payAgain">TRY AGAIN</button>
    <button (click)="closeModal('error-modal', false);" class="btn btn-success popup-ok-btn"
    *ngIf="!payAgain">OK</button>
  </jw-modal>
  