<div class="row number-menu">
  <div class="col">
    <img src="./assets/img/circle-v.svg" routerLink="/choose-area" alt="" height="" width="" class="">
  </div>
  <div class="col">
    <img src="./assets/img/circle-v.svg" routerLink="/choose-time" alt="" height="" width="" class="">
  </div>
  <div class="col">
    <img src="./assets/img/circle-v.svg" routerLink="/choose-plants" alt="" height="" width="" class="">
  </div>
  <div class="col">
    <img src="./assets/img/circle-v.svg" routerLink="/donors-details" alt="" height="" width="" class="">
  </div>
  <div class="col">
    <img src="./assets/img/blue-number5.svg" alt="" height="" width="" class="">
  </div>
</div>

<div class="container main">

  <div class="" *ngIf="!pressedCap && !pressedBox">
    <h3 class="main-title">
      {{ 'MORE-ITEMS.title' | translate }}
      <!-- You might be interested... -->
    </h3>
    <!-- <p class="rgl-title">   
      You might be interested...
    </p> -->

    <div class="shopping-grid">
      <div class="item">
        <img src="./assets/img/cap-sm.png" alt="cap" class="cap-pic" width="70%"
        (click)="onEnlargeImg('cap')">
        <p class="prodect-title">
          <!-- KKL-JNF Cap $6 -->
          {{ 'MORE-ITEMS.cap' | translate }} $6

        </p>
      </div>

      <div class="item">
        <img src="./assets/img/blue-box.png" alt="blue box" class="box-pic" width="70%"
        (click)="onEnlargeImg('box')">
        <p class="prodect-title">
          <!-- Blue Box $10 -->
          {{ 'MORE-ITEMS.box' | translate }} $10
        </p>
      </div>
    </div>
  </div>

  <div *ngIf="pressedCap" style="margin: 15px 0;">
    <img src="./assets/img/cap-lg.png" alt="map" class="enlarge-image" (click)="onReduceImg('cap')">

    <div class="" style="margin: 0px 0% 25px 0%; text-align: center; position: relative;">
      <div class="grey-bg-img">
        <img src="./assets/img/grey-BG.svg" class="" alt="grey" style="width: 320px;">

        <img src="./assets/img/minus.svg" class="minus-img" alt="minus button" (click)="onMinusBtn('cap')">

        <input type="search" min="1" max="1000" class="form-control change-no" id="anotherNumber" name="anotherNumber"
          [(ngModel)]="amountOfCaps" maxlength="5" style="text-align: center;"
          (change)="calculateSum(amountOfCaps, 'cap')">

        <img src="./assets/img/plus.svg" class="plus-img" alt="plus button" (click)="onPlusBtn('cap')">
      </div>
    </div>

    <div class="rgl-title" style="margin: 5% 10px;font-size: 2em;">
      {{ 'MORE-ITEMS.total' | translate }}: ${{ capSum }}
    </div>
  </div>

  <!-- for blue box -->
  <div *ngIf="pressedBox" style="margin: 15px 0;">
    <img src="./assets/img/blue-box-lg.png" alt="map" class="enlarge-image" (click)="onReduceImg('box')">

    <div class="" style="margin: 0px 0% 25px 0%; text-align: center; position: relative;">
      <div class="grey-bg-img">
        <img src="./assets/img/grey-BG.svg" class="" alt="grey" style="width: 320px;">

        <img src="./assets/img/minus.svg" class="minus-img" alt="minus button" (click)="onMinusBtn('box')">

        <input type="search" min="1" max="1000" class="form-control change-no" id="anotherNumber" name="anotherNumber"
          [(ngModel)]="amountOfBoxes" maxlength="5" style="text-align: center;"
          (change)="calculateSum(amountOfBoxes, 'box')">

        <img src="./assets/img/plus.svg" class="plus-img" alt="plus button" (click)="onPlusBtn('box')">
      </div>
    </div>

    <div class="rgl-title" style="margin: 5% 10px;font-size: 2em;">
      <!-- Total: ${{ boxSum }} -->
      {{ 'MORE-ITEMS.total' | translate }} : ${{ boxSum }}

    </div>
  </div>

</div>

<div class="btn-wrapper">
  <div class="back-btn" *ngIf="pressedCap || pressedBox">
    <button type="button" class="btn btn-block btn-primary" (click)="onBack()">{{ 'BACK-BUTTON' | translate }}</button>
  </div>
  <div class="next-btn">
    <button type="button" class="btn btn-block btn-success" (click)="onNext()">{{ 'NEXT-BUTTON' | translate }}</button>
  </div>
</div>
