.shopping-grid {
    display: flex;
    text-align: center;
}

.shopping-grid .item {
    /* margin: 0 auto;
    font-size: 14px;
    background-color: rgba(250, 250, 250, 0.7);
    padding: 10px 30px;
    box-shadow: 3px 2px 10px #0000004F; */

    margin: 0 auto;
    font-size: 15px;
    background-color: rgba(250, 250, 250, 0.7);
    padding: 10px 3px;
    box-shadow: 3px 5px 10px #0000004F;
    width: 45%;

}

.enlarge-image {
    /* width: 100%;
    margin: 0 auto; */
    width: 80%;
    margin: 0 10% 0 10%;
}

.cap-pic {
    /* margin: 0px 0px 0px 20%;
    width: 60%; */
    
}

.grey-bg {
   background: #EBEBEB;
   box-shadow: 0px 2px 5px #0000004F;
   /* opacity: 0.59; */
   width: 100%;
   height: 100px;
   /* margin: 20px 0% 0px 0%;
    text-align: center; */
    padding: 0px 0px 0px 0px;
    position: relative;

}

.cap-amount {
    margin: 5% 0 0px 0;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    position: absolute;
    z-index: 1;
}

.minus-cap-img {
    position: absolute;
    margin: 0px 0px 0 0px;
    left: 10%;
    width: 23%;
    margin: 1% 0px 0 0px;
    z-index: 2;
}

.plus-cap-img {
    position: absolute;
    right: 10%;
    width: 20%;
    margin:2% 0px 0 0px;
    z-index: 2;
}

.prodect-title {
    text-align: center; 
    padding: 0px;
    margin: 10px 0px 0 0;
}
