



<div class="backgroundmobileimg">

<div class="row">
<div class="col-2 pad0"></div>
<div class="col-8 pad0">
  <div class="greenbold padtop"> {{ 'PAYMENT-SUCCESSFUL.thanks' | translate }} </div>
  <div class="greenbold"> {{ donersDetailsObj.donorsTitle }} {{ donersDetailsObj.firstName }} {{ donersDetailsObj.lastName }}, </div>
  <div class="fontlite">  {{ 'PAYMENT-SUCCESSFUL.thanks2' | translate }}</div>
  <div class="fontlite"> {{ 'PAYMENT-SUCCESSFUL.thanks3' | translate }}</div>
<hr/>  
<div class="fontlite">{{ 'PAYMENT-SUCCESSFUL.reservationnew' | translate }}  </div>
<div>   <img src="./assets/img/Secsess.svg"/> </div>
<div class="fontlite"> {{ 'PAYMENT-SUCCESSFUL.reference1' | translate }} {{ ceremonyID }}</div>

</div>
<div class="col-2 pad0"></div>
</div>
 
<div class="row">
  <div class="col-1 pad0"></div>
  <div class="col-10 pad0">
    <div class="fontlite">    {{ 'PAYMENT-SUCCESSFUL.reference2' | translate }}</div>    
  </div>
  <div class="col-1 pad0"></div>
</div>

<div class="row">
  <div class="col-2 pad0"></div>
  <div class="col-8 pad0">
     <div><hr/></div> 
  </div>
  <div class="col-2 pad0"></div>
</div>

<div class="row padb7p">
  <div class="col-1 pad0"></div>
  <div class="col-10 pad0"> 
    <button type="button" class="btn btn-default witheback greenbold" routerLink="/contact-us"
    routerLinkActive="active"
    style="margin: 10px 0 7px 0;">
    <!-- Manage your reservation here -->
    {{ 'PAYMENT-SUCCESSFUL.contact' | translate }}
    </button>

    <button type="button" class="btn btn-default greenbold BKP" style="margin: 10px 0 7px 0;" routerLink="/ceremony-details">
      <!-- ?CeremonyID={{ceremonyID}} -->
    <!-- Manage your reservation here -->
    {{ 'PAYMENT-SUCCESSFUL.ceremony-details' | translate }}
    </button>
  </div>
  <div class="col-1 pad0"></div>
</div>

<div class="row padb4p">
  <div class="col-3 pad0"></div>
  <div class="col-6 pad0">
     <div class="fontlite"> {{ 'PAYMENT-SUCCESSFUL.share' | translate }}</div> 
  </div>
  <div class="col-3 pad0"></div>
</div>

<div class="row marg0">
 <img src="./assets/img/FasebookImg.svg" class="col-3 pad0" (click)=shareViaFacebook() /> 
 <img src="./assets/img/TviterImg.svg" class="col-3 pad0" (click)=shareViaTwit() /> 
 <img src="./assets/img/WhatsAppSvg.svg" class="col-3 pad0" (click)=shareViaWhatsapp() />  
 <img src="./assets/img/InstagramImg.svg" class="col-3 pad0" (click)=shareViaInstagram() />  
</div>

</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#87bb40" type="ball-scale-multiple">
</ngx-spinner>
 
<jw-modal id="error-modal" style="display:none">
  <!-- <h4>kkl alert</h4>
      <hr> -->
  <div class="errorMsg">{{errMsg}}</div>
  <hr>
  <button (click)="closeModal('error-modal');" class="btn btn-success popup-ok-btn">{{ 'OK-BUTTON' | translate }}</button>
</jw-modal>

    <!-- <div class="col">
    <img class="share-icons" src="./assets/img/facebook-icon.svg" alt="tree" width="100%" (click)=shareViaFacebook()>
  </div> -->