::ng-deep .computer-screen{
    /* background: url(/PlantaTreeInIsrael/BG-mobile.png) no-repeat center/100%; */
    background: url(../../assets/img/BG-mobile.png) no-repeat center/100%;

    height: -webkit-fill-available;
    height: inherit;
  }

.date {
    background: url(../../assets/img/calendar-green.svg)no-repeat 5px;
    text-align: center;
    text-align-last: center;
    text-align: -webkit-center;
}

.time {
    background: url(../../assets/img/clock.svg)no-repeat 5px;
    text-align: center;
    text-align-last: center;
    text-align: -webkit-center;
    /* padding: 0 0 0 30%; */
}

.pplNum {
    /* background: url(../../assets/img/openArrow.svg)no-repeat top 12px right 8px; */
    text-align: center;
    text-align-last: center;
    text-align: -webkit-center;

}

.hours-warning {
  text-align: center;
  text-align-last: center;
  text-align: -webkit-center;
  color: red;
  font-size: 13px;
  font-weight: 600;
  margin-top:-16px;
}

.dateMsg {
  text-align: center;
  text-align-last: center;
  text-align: -webkit-center;
  color: red;
  font-size: 18px;
  font-weight: 600;
}

@supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices */ 
    .time {       
        padding: 0 0 0 30%;
    }
  }
  

