<div class="row" style="margin-bottom: 15px;">
  <div class="col">
    <img class="share-icons" src="./assets/img/envelope.svg" alt="tree" width="100%" (click)=shareViaEmail()>
  </div>
  <div class="col">
    <img class="share-icons" src="./assets/img/facebook-icon.svg" alt="tree" width="100%" (click)=shareViaFacebook()>
  </div>
  <div class="col">
    <!-- <a href="whatsapp://send?text=Hello%20World!">Hello, world!</a> -->
    <img class="share-icons" src="./assets/img/whatsapp-logo.svg" alt="tree" width="100%" (click)="shareViaWhatsapp()">
  </div>
  <div class="col">twit
    <img class="share-icons" src="./assets/img/envelope.svg" alt="tree" width="100%" (click)=shareViaTwit()>
  </div>
</div>

<div class="row" style="margin-bottom: 15px;">
  <div class="col">
    <img class="share-icons" src="./assets/img/envelope.svg" alt="tree" width="100%" (click)=shareViaEmail2()>
  </div>
  <div class="col">linkdin
    <img class="share-icons" src="./assets/img/facebook-icon.svg" alt="tree" width="100%" (click)=shareViaFacebook2()>
  </div>
  <div class="col">
    <!-- <a href="whatsapp://send?text=Hello%20World!">Hello, world!</a> -->
    <img class="share-icons" src="./assets/img/whatsapp-logo.svg" alt="tree" width="100%" (click)="shareViaWhatsapp2()">
  </div>
  <div class="col">twit
    <img class="share-icons" src="./assets/img/envelope.svg" alt="tree" width="100%" (click)=shareViaTwit2()>
  </div>
</div>

<div class="pdfBtn">
  <button type="button" class="btn btn-link btn-block" (click)="viewCertificatePdf()" style="margin: 10px 0 7px 0;">
    View general certificate in pdf
  </button>
</div>

<!-- <div class="css-tricks">
                <ul>
                        <li><a href="https://www.facebook.com/sharer.php?..." target="blank" rel="noopener noreferrer">face<img src="facebook-icon.png" alt="Share Page on Facebook" /></a></li>
                        <li><a href="https://twitter.com/intent/tweet?..." target="blank" rel="noopener noreferrer">twiter<img src="twitter-icon.png" alt="Share Page on Twitter" /></a></li>
                        <li><a href="https://www.linkedin.com/shareArticle?..." target="blank" rel="noopener noreferrer">linkd<img src="linkedin-icon.png" alt="Share Page on LinkedIn" /></a></li>
                      </ul>
        </div> -->