<div>
    <div><label>startTime</label><input  [(ngModel)]="zoomMeetingRegistration.startTime" /></div>
    <div><label>timeZone</label><input  [(ngModel)]="zoomMeetingRegistration.timeZone" /></div>
    <div><label>topic</label><input [(ngModel)]="zoomMeetingRegistration.topic" /></div>
    <div><label>type</label><input  [(ngModel)]="zoomMeetingRegistration.type" /></div>
    <div><button (click)="registerNewMeeting()">Register New Zoom Meeting</button></div>
    <!-- <div>{{ msg }}</div> -->
</div>

<jw-modal id="error-modal" style="display:none">
    <!-- <h4>kkl alert</h4>
      <hr> -->
    <div class="errorMsg">{{errMsg}}</div>
    <hr>
    <button (click)="closeModal('error-modal');" class="btn btn-success popup-ok-btn">OK</button>
  </jw-modal>