<div class="container main" style="text-align: center">


    <!-- <h4>{{ 'CEREMONY-DETAILS.welcome' | translate }} 
        {{ ceremonyDetails.donorsTitle }} {{ ceremonyDetails.firstName }} {{ ceremonyDetails.lastName }}
    </h4> -->

    <h4>{{ 'CEREMONY-DETAILS.welcome' | translate }} {{ ceremonyDetails.donorsTitle }} {{ ceremonyDetails.firstName }} {{ ceremonyDetails.lastName }}</h4>

    <!-- <h5>we look foward seeing you at</h5> -->
    <h5>{{ 'CEREMONY-DETAILS.h5' | translate }} </h5>


    <div class="row">
        <div class="col">
         <!--   <img class="info-icons" src="./assets/img/location-point.svg" alt="location" width="100%"> -->
            <img class="info-icons" src="{{ 'CEREMONY-DETAILS.LocalPoint' | translate }}" alt="location" width="100%">
        </div>
        <div class="col">
           <!--    <img class="info-icons" src="./assets/img/clock.svg" alt="clock" width="100%"> -->
            <img class="info-icons" src="{{ 'CEREMONY-DETAILS.Clock' | translate }}" alt="clock" width="100%">
        </div>
        <div class="col">
           <!--    <img class="info-icons" src="./assets/img/calendar-green.svg" alt="calendar" width="100%"> -->
            <img class="info-icons" src="{{ 'CEREMONY-DETAILS.Calendar' | translate }}" alt="calendar" width="100%">
        </div>
    </div>

    <div class="row" style=" font-size:11px; font-weight: 600;">
        <div class="col">
            {{ ceremonyDetails.planting_center_eng_name }}
        </div>
        <div class="col">
            {{ ceremonyDetails.ceremony_date }}
        </div>
        <div class="col">
            {{ ceremonyDetails.ceremony_time }}
        </div>
    </div>
    <!-- Contact forest ranger  
    {{ 'CEREMONY-DETAILS.contact' | translate }}-->
    <div class="" style="margin-top: 20px; font-size: 18px;">
        <div class="contact-info">
            {{ 'CEREMONY-DETAILS.contact' | translate }} <b>{{ ceremonyDetails.forester_name }}</b>
            <div class="row icons">
                <div class="col">
                 <!--    <img class="share-icons" src="./assets/img/whatsapp-logo.svg" alt="tree" width=""
                        (click)="sendWhatsapp()"> -->
                        <img class="share-icons" src="{{ 'CEREMONY-DETAILS.WhatsAppImeges' | translate }}" alt="tree" width=""
                        (click)="sendWhatsapp()"> 
                </div>
                <div class="col">
                    <img class="share-icons" src="{{ 'CEREMONY-DETAILS.ChatImg' | translate }}" alt="tree" (click)="sendSms()"
                        style="height: 47px!important;">
                      <!--  <img class="share-icons" src="./assets/img/chat.png" alt="tree" (click)="sendSms()"
                        style="height: 47px!important;"> -->
                    <!-- <img class="share-icons" src="./assets/img/sms.png" alt="tree" (click)="sendSms()"
                            style="height: 47px!important;"> -->
                </div>
                <div class="col">
                   <!-- <img class="share-icons" src="./assets/img/phone-icon.png" alt="tree" (click)="callForester()">-->
                    <img class="share-icons" src="{{ 'CEREMONY-DETAILS.PhoneImg' | translate }}" alt="tree" (click)="callForester()">
                </div>
            </div> 
        </div>

        <div class="contact-info">
            <!-- Or -->
            {{ 'CEREMONY-DETAILS.or' | translate }} 
            <br>
            <!-- contact our office -->
            {{ 'CEREMONY-DETAILS.contact-office' | translate }} 
            <div class="row icons">
                <div class="col">
                    <!-- <span class="" *ngIf="usingPc" style="font-size: 30px;font-weight: 800;">
                            02-658-3384
                          </span>  --> 
                   <!--  <img class="office-phone" src="./assets/img/phone2.png" (click)="callOffice()"> -->
                    <img class="office-phone" src="{{ 'CEREMONY-DETAILS.PhoneImg2' | translate }}" (click)="callOffice()">
                </div>
                <div class="col">
                  <!--  <img class="envelope-icon" src="./assets/img/envelope.svg" alt="tree" (click)="sendEmail()">-->
                    <img class="envelope-icon" src="{{ 'CEREMONY-DETAILS.EnvelopeImg' | translate }}" alt="tree" (click)="sendEmail()">
                </div>
            </div>
        </div>

        <div class="navigate">
            <!-- Find your way to our planting center -->
            <!-- {{ 'CEREMONY-DETAILS.way' | translate }}
            <div class="row icons">
                <div class="col">
                    <img class="" src="./assets/img/waze.png" alt="waze" width="50px" (click)=openWaze()>
                </div>
                <div class="col">
                    <img class="" src="./assets/img/googlemaps.png" alt="googlemaps" width="50px" (click)=openGooglemaps()>
                </div>
            </div>             -->
        </div>

        <div class="navigate">
            <div class="small-text">
                {{ 'CEREMONY-DETAILS.zoom' | translate }}
                <!-- please make sure to download and sign in to the -->
              <!--  <br>
                {{ 'CEREMONY-DETAILS.zoom' | translate }}
                 Zoom app before the planting event. -->
            </div>
            <div class="row icons">
                <div class="col">
                  <!--  <img class="" src="./assets/img/zoom.png" alt="zoom" width="70px" (click)=openZoom()>-->
                    <img class="" src="{{ 'CEREMONY-DETAILS.ZoomImg' | translate }}" alt="zoom" width="70px" (click)=openZoom()>
                </div>
            </div>
        </div>

        <div class="pdfBtn">
            <button type="button" class="btn btn-link btn-block" (click)="viewCertificateImg()"
                style="margin: 10px 0 7px 0;">
                {{ 'CEREMONY-DETAILS.certificate' | translate }}
                <!-- View your personal certificate -->
            </button>
        </div>

        <div class="pdfBtn">
            <button type="button" class="btn btn-link btn-block" (click)="onPlantingPrayer()"
                style="margin: 10px 0 7px 0;">
                <!-- Open the planting prayer -->
                {{ 'CEREMONY-DETAILS.prayer' | translate }}
            </button>
        </div>

        

    </div>

    <div class="certificate-wrapper" style="position: relative;">

        <div class="edit-text" *ngIf="editCertificateText">
            <!-- <label for="certificateText" class="sm-title">Certificate Text:</label> -->
           
            <textarea class="certificateText" #textarea id="textarea" name="certificateText"
            rows="5" cols="40" maxlength="260"  cols="6" rows="5"
            [(ngModel)]="ceremonyDetails.CertificateText">
            <!-- {{ceremonyDetails.CertificateText}} -->
        </textarea>
            <div class="small-text" style="color:black; margin:-5px 0 0 0;">
                {{ 'CEREMONY-DETAILS.certificate2' | translate }}
                <!-- You could personalize your own certificate up to 250 letters. -->
              </div>  
        </div>
    </div>

    <!-- <br>
    <br>
    <br> -->
    <!-- <button class="btn btn-primary btn-block" routerLink="/cirtificate" routerLinkActive="active">
        personalize your certificate
    </button> -->
</div>

<!-- <div class="container">
    <button class="btn btn-warning btn-block" routerLink="/cirtificate" routerLinkActive="active">
        personalize your certificate
    </button>
</div> -->

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#87bb40" type="ball-scale-multiple">
</ngx-spinner>

<jw-modal id="error-modal" style="display:none">
    <div class="errorMsg">{{errMsg}}</div>
    <!-- <hr> -->
    <button (click)="closeModal('error-modal');" class="btn btn-success popup-ok-btn">{{ 'OK-BUTTON' | translate }}</button>
</jw-modal>


<jw-modal id="certificate-modal" style="display:none;">  
    <div class="certificate-img">
        <div width="280" height="90" class="canvas" *ngIf="!editCertificateText">
            {{ceremonyDetails.CertificateText}}
        </div>
    </div>  
    <div class="btn-wrapper" *ngIf="!editCertificateText">    
        <button (click)="closeModal('certificate-modal');" class="btn btn-primary popup-ok-btn"
        style="margin:0px 0 0 0;">{{ 'close' | translate }}</button>
        <button (click)="editCertificate();" class="btn btn-success popup-ok-btn"
        style="margin:0px 0 0 0; float: right;">{{ 'edit' | translate }}</button>
    </div>
    <div class="btn-wrapper" *ngIf="editCertificateText">
        <button (click)="closeModal('certificate-modal');" class="btn btn-primary popup-ok-btn"
        style="margin:0px 0 0 0;">{{ 'cancel' | translate }}</button>
        <button (click)="confirmCertificate();" class="btn btn-success popup-ok-btn"
        style="margin:0px 0 0 0; float: right;">{{ 'confirm' | translate }}</button>
    </div>
    

</jw-modal>

<jw-modal id="prayer-modal" style="display:none;">  
    <div class="planting-prayer">
    </div>  

    <!-- 30-7-2020 add other lang !!!   -->

    <div class="btn-wrapper">    
        <button (click)="closeModal('prayer-modal');" class="btn btn-primary popup-ok-btn"
        style="margin:0px 0 0 0;">{{ 'close' | translate }}</button>        
    </div>    
</jw-modal>

<jw-modal id="certificate-modal2" class="Certificatepopup2" style="display:none;">
    <div class="certificate-img2">
      <div width="280" height="90" class="canvas2">
        {{ceremonyDetails.CertificateText}}
       </div> 
    </div>
   <div>
    <button (click)="closeModal('certificate-modal2');"  style="margin:0px 0 0 0;"
    class="btn divbtnYes certiftext col-12 pad0 centertext popup-ok-btn">{{ 'OK-BUTTON' | translate }}</button>
   </div>
       
    </jw-modal>


<!-- <div class="">
    <img class="share-icons" src="./assets/img/facebook-icon.svg" alt="tree" width="100%" (click)=shareViaFacebook()>
</div> -->

<!-- <div class="">
            follow us
            <img class="" src="./assets/img/instagram.jfif" alt="instagram" width="50px" (click)=openInstagram()>
        </div> -->