.main-title{
    text-align: center;
    color: #5E5E5E; 
    padding-bottom: 4%; 
 }
 
.date{
     color:black;
     border: 0;
    background: none;
    height: 25px;
}

.time{
    border: 0;
    background: none;
}
 
/*.minheitgh{
    height: 2vh;
} */
 

.cap-icon{
    position: absolute;
    left: 35%;
}
 
ngb-datepicker{
    left: -80% !important;
}
.totalSum{
    color: #1F701F;
    padding-right: 10%;
}
  
.witebackg{
    background-color: white;
}

.totalSum {
    padding: 5%;
}
.log60{
    width: 60px;
}
 
.personalcertificatebtn{
    padding: 0;
    text-align: left;
    color: black;
}

.butonradion{
    zoom: 1.3;
}
.radiontext{
    padding: 5%;
    text-align: left;
}

.textleft{
    text-align: left;
}

.pad5p{
    padding: 5%;
}

.radionzoom{
    zoom: 1.4;
}


/*
form_radio_btn {
	display: inline-block;
	margin-right: 10px;
}
.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 6px;
	user-select: none;
}
  
.form_radio_btn input[type=radio]:checked + label {
	background: #ffe0a6;
}
  
.form_radio_btn label:hover {
	color: #926526;
}
 
.form_radio_btn input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}
*/
.Yes_Nos{
    padding: 4%;
}

.radio-inlineb0{
    border: 0 !important;
}

.main-title,.amountTreesdiv,.personalcertificatebtn,.totalSum,.radiontext,.textleft  {
    font-size: 4vw;
}
 
.font600{
    font-weight: 600;
}

.certificate-img2{
    margin: 0px auto;
    background: url('../../assets/img/certificate-sm.jpg') no-repeat center/100%;  
    height: 516px;  
    /* margin: -10px 0 0 0; */
    /* position: absolute; */
    width: 100%;
 }
 .canvas2{
    position: relative;
     text-align: center;
     top: 350px;
     margin: 0 25px;
     font-size: 11px;
     padding: 5px 10px;
 }

@media (min-width: 640px)    {
    .padl2p{
        padding: 0;
    }
    .log60{
        zoom: 2;
    }
    .submitbut {
        zoom: 2;
    }
}
@media (min-width: 640px)    {
    .nexttext.fonts4vw{
        font-size: 2vw;
    }
}

@media (min-width: 1024px){
    .nexttext {
        font-size: 4vw;
    }
    .submitbut {
        zoom: 1;
    }
}

 @media (min-width: 1280px)   {
    .main-title,.amountTreesdiv,.personalcertificatebtn,.totalSum,.radiontext,.textleft  {
        font-size: 3vw;
    }
    
}
@media (min-width: 1366px){
    .padddyes_no{
        padding-left: 2%;
    }
    .log60{
        zoom: 3;
    }
    .fonts4vw {
        font-size: 3vw;
    }
}
 