
<!-- <input ngbDatepicker #d="ngbDatepicker" (focus)="d.open()"
[minDate]="minDate" 
    [maxDate]="maxDate"
    [markDisabled]="isDisabled"
    ngModel [(ngModel)]="model"
 (ngModelChange)="onDateChange($event)" 
 [dayTemplate]="customDay"> -->

<ngb-datepicker #d 
    [minDate]="minDate" 
    [maxDate]="maxDate"
    [markDisabled]="isDisabled">
</ngb-datepicker>

<!-- <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="date">Choose planting date</label>
            <input type="date" [min]="minDate" [max]="maxDate"
              class="form-control date" id="date" name="date" required
              [(ngModel)]="dateId" (input)="onInputDate(dateId)"
              (change) ="onInputChange(dateId)"
              style="color: #14B229">
              <span class="invalid-input" *ngIf="invalidDate">Invalid Date</span>
          </div>
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="date">Choose planting date</label>
            <input type="date" min="10-29-2019" max="5-29-2020" class="form-control date" id="date" name="date" required
            [(ngModel)]="dateId"
              (input)="onInputDate(dateId)">
          </div>
        </div>
      </div> -->

      <!-- <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="time">Choose planting time</label>
                <select name="time" class="form-control time" id="time" [(ngModel)]="timeId" (change)="onChangeTime(timeId)"
                  required style="color: #14B229">
                  <option *ngFor="let time of plantingHours" [ngValue]="time.tmp_time">
                    {{ time.tmp_time | date:'shortTime' }}
                  </option>
                </select>
              </div>
            </div>
          </div> -->


