/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

/* @import "~font-awesome/css/font-awesome.css"; */
/* "node_modules/bootstrap/dist/js/bootstrap.min.js" */


/* ********************       colors to use for kkl   ********************
green
#87bb40
rgb(135, 187, 64)
hsl(85, 49%, 49%)

blue
#0575a0
rgb(5, 117, 160)
hsl(197, 94%, 32%)

brown
#9a6b37
rgb(154, 107, 55)
hsl(32, 47%, 41%)

black
#000700
rgb(0, 7, 0)
hsl(120, 100%, 1%) 
********************    END   colors to use for kkl   *********************/
html {
   
    font-family: 'Assistant', 'Gilroy', sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100vh;
}

body {
    font-family: 'Assistant', 'Gilroy', sans-serif;
    margin: 0 auto;
    padding: 0;
    font-weight: 600;
    height: auto;
    height: 100%;
    color: rgba(0, 7, 0, 1);
}

.computer-screen {
    /* background: url(../src/assets/img/BG-mobile.png) no-repeat center/100%; */
    background: url(../src/assets/img/BG-mobile.png) no-repeat center/100%;
    height: -webkit-fill-available;
    height: inherit;
   width: 100%;
}

.number-menu {
    text-align: center;
    margin: 0px 2px 18px 2px;
    padding: 0px;
    padding-top: 20%;
    padding-bottom: 3%;
    background: white;
}

.container.main {
    margin: 0 auto;
    width: 90%;
    position: relative;
}

p {    
    padding: 10px 10px 0px 10px;
}
.main-title {
    text-align: center; 
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
    /* font-family: 'Assistant', 'impact', sans-serif; */
    font-family: 'Georgia', header, sans-serif;
    font-family: "Times New Roman", Times, serif;
    font-family: 'Impact', Charcoal, sans-serif;
    font-weight: bold;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.rgl-title {
    text-align: center; 
    font-size: 24px;
    font-weight: 600;
    /* font-family: 'Assistant', 'impact', sans-serif; */
    /* padding: 0px; */
    /* margin-bottom: 20px; */
}

.sm-title {
    font-size: 20px;
}

.md-title {
    font-size: 1.3em;
    padding: 5px 10px 0px 10px;
    text-align: center;
    margin: 0px
}

.lg-title {
    font-size: 26px;
    padding: 10px 10px 0px 10px;
}

.xl-title {
    padding: 10px 10px 0px 10px;
    font-size: 1.8em;
    text-align: center;
    font-weight: 300;
    font-family: 'Assistant', 'Impact', sans-serif;
    margin: 0px
}

.next-btn {
    bottom: 10px;
    position: fixed;
    width: 80%;
    left: 10%;
    /* position: absolute;
    top:100%; */
}
.next-btn2 {
    padding-top: 5%;
    position: relative;
    width: 80%;
    left: 10%;
    /* position: absolute;
    top:100%; */
}
.back-btn {
    bottom: 70px;
    position: fixed;
    width: 80%;
    left: 10%;
}
.grey-bg-img {
    width: 320px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.minus-img {
 /*   position: absolute;  */
    margin: 0px 0px 0 0px;
    left: 5px;
}

.plus-img {
  /*  position: absolute; */
    right: 5px;
    top: 5px;
}

.amount-text {
    position: absolute;
    margin: 3% 0px 0 -10px;
    left: 50%;
    font-size: 30px;
}

/* .plant-img {
    position: absolute;
    left: 32%;
    margin: 3% 0px 0px 0;
} */

.invalid-input {
    color: #BF000D;
    text-align: center;
}

.change-no {
    position: absolute;   
    font-weight: 600;
    padding: 0px 5px;
    background: #ebebeb;
    border: none;
    top: 8px;
    left:110px;
    width: 100px;
    font-size: 25px;
 }
 .centertext{
     text-align: center;
 }

jw-modal {
    /* modals are hidden by default */
    display: none;
}

.popup-ok-btn {
    min-width: 30%;
    margin: 20px 0px 10px 35%;
}

.errorMsg {
    text-align: center;
}

  ################    cusom colors overriding bootstrap default   ################    */
.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited, .btn-danger:focus, .btn-danger:active:focus {
    background-color: #BF000D !important;
    max-width: 500px !important;
}
.btn-success, .btn-success:active, .btn-success:visited, .btn-success:active:focus {
  /*  background-color: #87bb40 !important;   
    border-color: #87bb40 !important; 
    max-width: 500px !important; */
    background-color: #94B9F1 !important;   
    border-color: #94B9F1 !important; 
    border-radius: 25px; 
    min-height: 45px;
}
.btn-success:hover, .btn-primary:focus {
     background-color:  #628CD5 !important;  
     min-height: 45px;
   /* background-color: #79a141 !important; 
      max-width: 500px !important; */
}
.btn-primary, .btn-primary:active, .btn-primary:visited, .btn-primary:active:focus {
    background-color: #0575a0 !important;  
    border-color: #0575a0 !important;  
    max-width: 500px !important;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: rgb(35, 108, 117) !important;
    max-width: 500px !important;
}

.btn-block {
    /* display: block;
    width: 100%; */
    margin: 0 auto;
}

.col {
    max-width: 550px !important;
    margin: 0 auto !important;
}

.small-text {
    font-size: 10px;
    color: grey;
    margin: 0 0 0 10%;
}
    /* -------------------     MEDIA QUERIES       ------------------- */
@media only screen and (max-width: 480px) {
    .container {
        padding: 0px !important;
    }
    .navbar{
        width: 100% !important;
    }
}

@media (min-width: 280px) and (max-width: 340px) {
    /* .number-menu {
        margin: 0px 0px 0 0px;
        padding-right: 0px !important;
        padding-left: 0px !important;
        flex-wrap: nowrap !important;
    } */
    .number-menu > .col{
        padding: 0px 0px;
        margin: 0px 10px;
    }
    .navbar{
        width: 100% !important;
    }

    .under-18 {
        font-size: .4rem !important;
    }
}
@media only screen and (min-width: 450px) {
    .enlarge-image {
        margin: 0 auto; 
        width: 60% !important;
        margin: 0 20% 0 20% !important;
    }
    .navbar{
        width: 100% !important;
    }
}
@media only screen and (min-width: 769px) {
    body { 
        background-color:#edf8ed;
        margin: 0px 200px 0px 200px;
    }

    .computer-screen{
        background-color:#fff !important;
       /* max-width: 600px; */
        margin: 0 auto;
        min-height: 700px;
        width: 525px;
    }

    .col {
        max-width: 500px !important;
        margin: 0 auto !important;
    }
    .next-btn {
        width: 40%;
        left: 30%;
    }
    .back-btn {
        width: 40%;
        left: 30%;
    }
    

    
}
@media only screen and (min-width: 960px) {    
    body { 
        margin: 0px 250px 0px 250px;
    }

    .computer-screen {
        background-color:#fff !important;
        width: 525px;
    }

    /* .change-no {
        margin: -75px 0px 0px 15px;
        left: 52%;
        font-weight: 600;            
    } */
}

@media only screen and (min-width: 1440px) {
    body { 
        /* background-color:#edf8ed; */
        margin: 0px 350px 0px 350px;
    }
    .computer-screen {
        background-color:#fff !important;
        width: 525px;
    }


}

@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
    body { 
        /* background-color:#edf8ed; */
        margin: 0px 500px 0px 500px;
    }
    .computer-screen {
        background-color:#fff !important;
        width: 525px;
    }

}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}