<div class="col-12 pad0 backgroundmobileimg " >
  <!-- header buttons -->
  <!--  <div class="row col-12 pages-menu margbut0 padl10p"> 
    <div class="col-2 pad0"></div>
    <div class="col-2 pad0">
      <div class="row"
        <div class="col-6 pad"><div class="btnmenu" routerLink="/choose-orderplants"><div>&#10003;</div></div></div>
        <div class="col6 hrdiv"><hr class="menuline"/></div>
      </div>  
    </div>
    <div class="col-2 pad0">
      <div class="row">
        <div class="col-6 pad"><div class="btnmenu  " routerLink="/donors-details"><div>&#10003;</div></div></div>
        <div class="col6 hrdiv"><hr class="menuline"/></div>
      </div>  
    </div>
    <div class="col-2 pad0">
      <div class="row">
        <div class="col-6 pad"><div class="btnmenu " routerLink="/cirtificate"><div>&#10003;</div></div></div>
        <div class="col6 hrdiv"><hr class="menuline"/></div>
      </div>  
    </div>
    <div class="col-2 pad0">
      <div class="row">
        <div class="col-6 pad"><div class="btnmenu  selectedmenu"></div></div>
        <div class="col6  "> </div>
      </div>  
    </div>
  </div>-->

  <div class="row col-12 pages-menu margbut0 padl10p">
    <div class="col-2 pad0"> </div>
    <div class="col-2 pad0">
      <div class="row">
        <div class="col-6 pad">
          <div class="imgafterBut minheigthmenbut" routerLink="/choose-orderplants"></div>
        </div>
        <div class="col6 hrdiv2">
          <hr class="menuline2" />
        </div>
      </div>
    </div>
    <div class="col-2 pad0">
      <div class="row">
        <div class="col-6 pad">
          <div class="imgafterBut minheigthmenbut" routerLink="/donors-details"></div>
        </div>
        <div class="col6 hrdiv2">
          <hr class="menuline2" />
        </div>
      </div>
    </div>
    <div class="col-2 pad0">
      <div class="row">
        <div class="col-6 pad">
          <div class="imgafterBut minheigthmenbut" routerLink="/cirtificate"></div>
        </div>
        <div class="col6 hrdiv2">
          <hr class="menuline2" />
        </div>
      </div>
    </div>
    <div class="col-2 pad0">
      <div class="row">
        <div class="col-6 pad">
          <div class="imgSelectBut minheigthmenbut"></div>
        </div>
        <div class="col6"> </div>
      </div>
    </div>
  </div>

  <div class="row padt3p marg0">
    <div class="col-2 pad0"> </div>
    <div class="col-8 pad0">
      <hr class="marg0" />
    </div>
    <div class="col-2 pad0"></div>
  </div>
  <!-- End header buttons -->


  <div class="pagefont">
    <div class="row pad0 marg0 margtop3p">
      <div class="col-3 pad0"> </div>

      <div class="col-6 pad0">
        <h6 class="main-title padt5p fontbolder">
          <!-- DONATION DETAILS -->
          {{ 'DONATION-DETAILS.title' | translate }}
        </h6>
      </div>

      <div class="col-3 pad0"></div>
    </div>

    <div class="row pad0 marg0 margtop5p fontLite">
      <div class="col-3 pad0"> </div>
      <div class="col-6 pad0">
        <div class="row marg0 fontsxxlarge minheitgh">
          <div class="amountTrees textleft  col-8 pad0 fontsizedatetime">
            {{ 'DONATION-DETAILS.amountOfTrees' | translate }}</div>
          <div class="col-4 pad0 textleft fontBoldLite"> {{ amountOfTrees }} </div>
        </div>
        <hr />
        <div class="row marg0 fontsxxlarge minheitgh">
          <div class="col-2 pad0 amountTrees textleft">{{ 'DONATION-DETAILS.Date' | translate }}</div> 
          <div class="col-10 pad0 datediv fontBoldLite fontsizedatetime lineheight1p7">
            {{LocalDate}}
          </div>
        </div>
        <hr />

        <div class="row marg0 fontsxxlarge minheitgh">
          <div class="amountTrees col-4 pad0 textleft">{{ 'DONATION-DETAILS.Time' | translate }}</div> 
          <div class="col-6 pad0 fontBoldLite fontsizedatetime lineheight1p7">
            {{LocalTime}}
          </div>
          <div class="col-2 pad0"></div>
        </div>
        <hr />

        <div class="row marg0 fontsxxlarge minheitgh">
          <div class="amountTrees col-4 pad0 textleft">{{ 'DONATION-DETAILS.Location' | translate }}</div>
          <div class="col-8 pad0 fontBoldLite fontsizedatetime lineheight1p7">{{ 'DONATION-DETAILS.Locationtext' | translate }}
           </div>
        </div>
        <hr />

      </div>
      <div class="col-3  pad0"></div>
    </div>

    <div class="row marg0">
      <div class="col-3 pad0"></div>
      <div class="col-7 pad0">
        <div *ngIf="cirtificate">
          <div class="row marg0">
            <div class="col-3 logzoom padr2p">
              <img src="./assets/img/trees_img.png" alt="" class="log60">
            </div>
            <div class="col-9 margtop5p padr0" style="padding: 0 0 0 5px; font-size: 14px;">
              <button type="button" class="btn btn-link btn-block personalcertificatebtn margbut0 padt5p"
                (click)="viewCertificatePdf()">
                <u class="cerficbut">{{ 'CIRTIFICATE.personalcertificate' | translate }}</u>
              </button>
            </div>
          </div>
        </div>
      </div>
     </div>

    <div class="row pad0 marg0 margtop5p fontLite witebackg">
      <div class="col-3 pad0"> </div>
      <div class="col-6 pad0">
        <div class="totalSum fontBoldLite">{{ 'DONATION-DETAILS.Donation' | translate }} ${{ totalSum }} </div>
      </div>
      <div class="col-3 pad0"></div>
    </div>

    <div class="row marg0 radiontext padbot0">
      <div class="col-2 pad0"></div>
      <div class="col-1 pad0 ">
        <!--<input type="radio" class="butonradion" name="Submmitbut" (click)="Submmitbut()"> -->
        <img src="{{Radionbut}}" alt="" (click)="Submmitbut()" class="butonradion">
      </div>
      <div class="col-8 padl2p">
        <div class="fontLite fontBoldLite"> {{ 'DONATION-DETAILS.Iconfirm1' | translate }} </div>
        <!-- <div class="fontLite fontBoldLite"> {{ 'DONATION-DETAILS.Iconfirm2' | translate }} </div> -->
        <hr />
      </div>
      <div class="col-1 pad0"></div>
    </div>
 
    <div class="row marg0 textleft">
      <div class="col-2 pad0"></div>
      <div class="col-1 pad0 ">
      </div>
      <div class="col-9 padddyes_no">
        <div class="fontLite fontBoldLite"> {{ 'DONATION-DETAILS.Wouldyoulike1' | translate }} </div>
        <div class="fontLite fontBoldLite"> {{ 'DONATION-DETAILS.Wouldyoulike2' | translate }} </div>
        <div class="row Yes_Nos marg0">
          <div class="form_radio_btn col-8 pad0">
            <div class="row marg0">

              <div class="col-6 pad0">

                <img src="{{RadionbutNo}}" alt="" (click)="onAcceptEmail(0)" class="butonradion">
                <span class="fontLite"> {{ 'DONATION-DETAILS.rowNo' | translate }} </span>

                <!-- <label class="radio-inline radio-inlineb0 radionzoom fontlite">
        <input class="form-check-input" type="radio" [(ngModel)]="Yes" name="Yes_No" value="Yes" checked (change)="onItemChange($event)" value="Yes"/>{{ 'DONATION-DETAILS.rowYes' | translate }}</label>
        -->
              </div>

              <div class="col-6 pad0">
                <img src="{{RadionbutYes}}" alt="" (click)="onAcceptEmail(1)" class="butonradion">
                <span class="fontLite"> {{ 'DONATION-DETAILS.rowYes' | translate }} </span>
                <!--
      <label class="radio-inline radio-inlineb0 radionzoom fontlite">
        <input class="form-check-input" type="radio" [(ngModel)]="No" name="Yes_No" value="No"  (change)="onItemChange($event)" value="No"/>{{ 'DONATION-DETAILS.rowNo' | translate }}</label>
      -->
              </div>

            </div>

          </div>

          <div class="form_radio_btn col-4">

          </div>
        </div>

      </div>

    </div>

    <footer class="footer-distributed col-12">
      <div class="col-12">
        <button type="submit" class="submitbut col-7 " [ngStyle]="headingCss" [disabled]=disableds (click)="onPayNow()">
          <div class="nexttext " [ngStyle]="headingCss">
            {{ 'DONATION-DETAILS.pay' | translate }}
          </div>
        </button>
      </div>
    </footer>

  </div>
</div>
<ngx-spinner bdColor="rgba(255,255,255,0.8)" size="medium" color="#926427" type="ball-scale-multiple">
</ngx-spinner>



<jw-modal id="error-modal" style="display:none">
  <!-- <h4>kkl alert</h4>
    <hr> -->
  <div class="errorMsg">{{errMsg}}</div>
  <hr>
  <button (click)="closeModal('error-modal');"
    class="btn btn-success popup-ok-btn">{{ 'OK-BUTTON' | translate }}</button>
</jw-modal>

<jw-modal id="certificate-modal2" class="Certificatepopup2" style="display:none;">
  <div class="certificate-img2">
    <div width="280" height="90" class="canvas2">
      {{certificateText}}
    </div>
  </div>
  <div>
    <button (click)="closeModal('certificate-modal2');" style="margin:0px 0 0 0;"
      class="btn divbtnYes certiftext col-12 pad0 centertext popup-ok-btn">{{ 'OK-BUTTON' | translate }}</button>
  </div>

</jw-modal>