
.main-title{
    text-align: center;
    color: #5E5E5E; 
    padding-bottom: 4%; 
 }
 
.date{
     color:black;
     border: 0;
    background: none;
    height: 25px;
}

.time{
    border: 0;
    background: none;
}
 
/*.minheitgh{
    height: 2vh;
} */
 

.cap-icon{
    position: absolute;
    left: 35%;
}
 
ngb-datepicker{
    left: -80% !important;
}
.totalSum{
    color: #1F701F;
    padding-right: 10%;
}
  
.witebackg{
    background-color: white;
}

.totalSum {
    padding: 5%;
}
.log60{
  /*  width: 60px; */
    width: 130%;
}
 
.personalcertificatebtn{
    padding: 0;
    text-align: left;
    color: black;
}

.butonradion{
    zoom: 1.3;
}

.radiontext{
    padding: 5%;
    text-align: left;
}

.textleft{
    text-align: left;
}

.pad5p{
    padding: 5%;
}

.radionzoom{
    zoom: 1.4;
}
 
.Yes_Nos{
    padding: 4%;
}

.radio-inlineb0{
    border: 0 !important;
}

.main-title,.amountTreesdiv,.personalcertificatebtn,.totalSum,.radiontext,.textleft,.divbtnYes  {
    font-size: 1em;
}
 
.font600{
    font-weight: 600;
}
.padr0{
    padding-right: 0;
} 
 .fontsizedatetime{
     font-size: 0.9em;
 }
 .divbtnYes{ 
    background-color: white;
    border-radius: 25px; 
    min-height: 40px;
 }
 .divbtnYes:hover, .divbtnYes::selection {
    background: none;
    color:white;
 }
 footer{
    padding-top: 10% !important;
    position: static !important;
}
.logzoom{
    zoom: 0.1;
}



@media (min-width: 640px)    {
    .padl2p{
        padding: 0;
    }
    .submitbut {
        zoom: 2;
    }
}
@media (min-width: 280px) and (max-width: 318px)    {
    .pagefont{
        font-size: 0.7em !important;
    }
    /* .nexttext {
        font-size: 1.5em;
    } */
 }
 @media (min-width: 320px) and (max-width: 374px)    {
    .pagefont{
        font-size: 0.7em !important;
    }
    /* .nexttext {
        font-size: 1.5em !important;
    } */
 }
 @media (min-width: 375px) and (max-width: 410px)    {
    
    .pagefont{
        font-size: 1em !important;
    }
    /* .nexttext {
        font-size: 1.3em !important;
    } */
    
 }
 @media (min-width: 411px) and (max-width: 500px)    {
    
    .pagefont{
        font-size: 1em !important;
    }
     
 }
 @media (min-width: 760px) and (max-width: 810px)    {
    .pagefont{
        font-size: 2em !important;
    }
    /* .nexttext {
        font-size: 0.6em !important;
    } */
 }
@media (min-width: 812px) and (max-width: 900px)    {
   .pagefont{
       font-size: 2em;
   }
   /* .nexttext {
       font-size: 0.6em;
   } */
}
@media (min-width: 1024px){
    
    .submitbut {
        zoom: 1;
    }
}
 
@media (min-width: 1366px){
    .padddyes_no{
        padding-left: 2%;
    }
   
    
}
@media screen and (min-device-width:650px), screen and (max-width:890px) {
    .pagefont{
        font-size: 1em;
    } 
}
 
 