<div class="container">

    <h1 style="background-color: darkgoldenrod; margin: 0px;">Tehila's treasure hunt!!!
        <br>
        חפש את המטמון של תהילה</h1>
    <!-- <h1 style="background-color: darkgoldenrod; margin: 0px;">חפש את המטמון של תהילה</h1> -->
    <div class="tehilas-img">
    </div>
    
    <div class="age" *ngIf="question1">
        <h3 style="background-color: darkcyan;">בואו נראה עד כמה אתן מכירות את תהילה</h3>
        <p>
            לך לצד הימני כשפניך צפונה, כמות הצעדים של הגיל של תהילה,
            ואז שמאלה כמות הצעדים של הימים בחודש העברי שנולדה
        </p>
    </div>
    <div class="color">
        <h4></h4>
        <p>

        </p>

    </div>
    <div class="age">

    </div>
    <div class="age">

    </div>
</div>