<div class="backgroundmobileimg" [ngStyle]="screenHeight">

  <!--  header buttons -->

  <div class="row col-12 pages-menu margbut0 padl10p">
    <div class="col-2 pad0"> </div>
    <div class="col-2 pad0">
      <div class="row">
        <div class="col-6 pad">
          <div class="imgSelectBut minheigthmenbut"></div>
        </div>
        <div class="col6 hrdiv2">
          <hr class="menuline2" />
        </div>
      </div>
    </div>
    <div class="col-2 pad0">
      <div class="row">
        <div class="col-6 pad">
          <div class="imgDefBut minheigthmenbut"></div>
        </div>
        <div class="col6 hrdiv2">
          <hr class="menuline2" />
        </div>
      </div>
    </div>
    <div class="col-2 pad0">
      <div class="row">
        <div class="col-6 pad">
          <div class="imgDefBut minheigthmenbut"></div>
        </div>
        <div class="col6 hrdiv2">
          <hr class="menuline2" />
        </div>
      </div>
    </div>
    <div class="col-2 pad0">
      <div class="row">
        <div class="col-6 pad">
          <div class="imgDefBut minheigthmenbut"></div>
        </div>
        <div class="col6"> </div>
      </div>
    </div>
  </div>

  <div class="row padt3p marg0">
    <div class="col-2 pad0"> </div>
    <div class="col-8 pad0">
      <hr class="marg0" />
    </div>
    <div class="col-2 pad0"></div>
  </div>

  <!-- End header buttons -->

  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="pagefont">
      <div class="row marg0">
        <div class="col-2"></div>
        <div class="col-8">
          <div class="main-title2 fontsttyle padt3p">
            {{ 'CHOOSE-ORDERPLANTS.ORDERPLANTS' | translate }}
            <br>
            {{ 'CHOOSE-ORDERPLANTS.ORDERPLANTS2' | translate }}
          </div>
        </div>
        <div class="col-2"></div>
      </div>

      <div class="row marg0">
        <div class="col-2 pad0"></div>
        <div class="col-1 pad0"></div>
        <div class="col-6 pad0">

          <div class="row centertext padt5p treeprices padd0 backnnone col-11 marg0">

            <div class="col-2 pad0">
              <img src="./assets/img/button-plus.svg" class="plus-img2" alt="plus button" (click)="onPlusBtn()">
            </div>
            <div class="col-8 pad0">
              <div class="col-12">
                <div class="treecount">
                  <u class="fontLite fsizecount">
                    <input type="tel" min="1" class="form-control change-no" id="anotherNumber" name="anotherNumber"
                    [(ngModel)]="amountOfTrees" maxlength="5" required (change)="onChangeNumber(amountOfTrees)">
                  </u>
               <!--  <u class="fontLite fsizecount">
                    {{amountOfTrees}}
                  </u>--> 
                </div>

              </div>

            </div>
            <div class="col-2 pad0">
              <img src="./assets/img/button-.svg" class="minus-img2" alt="minus button" (click)="onMinusBtn()">

            </div>

          </div>
          <h6 class="centertext countprice paddt10p padbot3p">
            {{ 'CHOOSE-ORDERPLANTS.total' | translate }}: ${{ totalAmount }}
          </h6>
          <div>
            <hr />
          </div>

          <div class="form-group centertext">
            <label for="date" class="fontLite margb2p">{{ 'CHOOSE-ORDERPLANTS.date' | translate }}</label>

            <input ngbDatepicker type="text" readonly #d="ngbDatepicker" [minDate]="minDate" [maxDate]="maxDate"
              [markDisabled]="isDisabled" class="font09em form-control date treeprices shadows FONTWID700 textleft"
              id="date" name="date" required ngModel [(ngModel)]="dateId" (ngModelChange)="onDateChange($event, d)"
              style="color: #000700" firstDayOfWeek="7" (click)="d.toggle(); $event.stopPropagation();"
              placeholder="{{LocalDate}}">
            <span class="invalid-input" *ngIf="invalidDate">Invalid Date</span>
          </div>

          <div class="form-group centertext paddt10p">
            <label for="time" class="fontLite margb2p">
              <span> {{ 'CHOOSE-ORDERPLANTS.time' | translate }}
                <br />
                {{ 'CHOOSE-ORDERPLANTS.Timelocation' | translate }}
              </span>
            </label>
            <select name="time"
              class="form-control  font09em shadows time   treeprices centertext centertext col-7 FONTWID700" id="time"
              [(ngModel)]="time" (change)="onTimeChange($event.target.value)" required style="color: #000700">
              <!-- <option>{{LocalTime}}</option> -->
              <option value="null">{{ LocalTime }}</option>
              <option *ngFor="let time of localAvailableTime" [ngValue]="time.AvailTime">
                <!-- {{ time.AvailTime | date:'shortTime' }} -->
                {{ time.AvailTime | date:'shortTime' }}
              </option>
            </select>
            <span class="invalid-input" *ngIf="invalidTime">Invalid Time</span>
          </div>

          <div class="padT15p" *ngIf="LocalDatediv" id="LocalDatediv">
            <label class="fontLite fontsize4vw" style="margin-bottom: 2px;">{{ 'CHOOSE-ORDERPLANTS.localDate' | translate }}</label>
          <!-- <div class="padt5p fontsize4vw"> 
            yaks del-->
            <div class="fontsize4vw" style="margin-top: -5px;">
            {{ LocalDate }}
          </div>
          <div class="fontsize4vw">
            {{ LocalTime }}
          </div>
        </div>


        </div>
        <div class="col-3 pad0"></div>
      </div>

      <footer class="footer-distributed col-12">
        <div class="col-12">
          <button type="submit" class="submitbut col-7">
            <div class="nexttext">
              {{ 'NEXT-BUTTON' | translate }}
            </div>
          </button>
        </div>

      </footer>

    </div>

  </form>

</div>

<jw-modal id="error-modal" style="display:none">
  <!-- <h4>Plant a tree</h4>
  <hr> -->
  <div class="errorMsg">{{errMsg}}</div>
  <hr>
  <button (click)="closeModal('error-modal');" class="btn btn-success popup-ok-btn">{{ 'OK-BUTTON' | translate }}</button>
</jw-modal>
<ngx-spinner bdColor="rgba(255,255,255,0.8)" size="medium" color="#926427" type="ball-scale-multiple">
</ngx-spinner>