 .treeprices{
    min-height: 40px;
    background-color: white;
    border-radius: 20px  ;
} 

.minus-img2{
    max-height: 33px;
    color: #5E5E5E;
    transform: scale(2);
}
 
.plus-img2{
    max-height: 33px;
    transform: scale(2);
}
  
.main-title2{
    font-weight: bolder;
    text-align: center; 
    padding-bottom: 10%;
    color: #5E5E5E; 
    padding-top: 8%;
}
   
.backnnone{
    background: none;
}
  
.select-selected {
    background-color: DodgerBlue;
  }
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
   .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }

  .treecount{
      font-size: 1em;
      margin-top: -2%;
  }
  .countprice{
      font-size: 1em; 
  }

  .fsizecount{
    font-size: 1em;
  }

  .fontsize4vw{
      font: size 1em;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    background: url("../../assets/img/Arrow.svg") white no-repeat calc(100% - 5px) !important;  
   
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 

  }
  /*For IE*/
  select::-ms-expand { display: none; }

  input{
    background: url("../../assets/img/Arrow.svg") white no-repeat calc(100% - 10px) !important; 
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
  }
  
  @media (min-width: 280px) and (max-width: 319px) {
    .main-title2{
        font-size: 0.6em;
    }
    .font09em {
        font-size: 0.6em;
    }
    .plus-img2{
        transform: scale(1.5);
    }
    .minus-img2{
        transform: scale(1.5);
    } 
  }
  @media (min-width: 320px) and (max-width: 370px) {
    .main-title2{
        font-size: 0.8em;
    }
  }
  
  @media (min-width: 375px) and (max-width: 380px) {
    .main-title2{
        font-size: 0.9em;
    }
  }
   
  @media (min-width: 768px) and (max-width: 1366px) {
    .plus-img2{
        transform: scale(4);
    }
    .minus-img2{
        transform: scale(4);
    } 
    .submitbut {
        zoom: 2;
    }
    .pagefont{
        font-size: 2em;
    }
    .nexttext{
        font-size: 0.5em !important;
    }
  } 