<div class="row number-menu">
  <div class="col">
    <img src="./assets/img/circle-v.svg" routerLink="/choose-area" alt="" height="" width="" class="">
  </div>
  <div class="col">
    <img src="./assets/img/circle-v.svg" routerLink="/choose-time" alt="" height="" width="" class="">
  </div>
  <div class="col">
    <img src="./assets/img/blue-number3.svg" alt="" height="" width="" class="">
  </div>
  <div class="col">
    <img src="./assets/img/grey-number4.svg" alt="" height="" width="" class="">
  </div>
  <div class="col">
    <img src="./assets/img/grey-number5.svg" alt="" height="" width="" class="">
  </div>
</div>
<!-- </div> -->

<div class="container main">
  <h4 class="main-title">
    <!-- How many trees<br> do you wish to plant? -->
    {{ 'CHOOSE-PLANTS.title' | translate }}
    <br>
    {{ 'CHOOSE-PLANTS.title2' | translate }}
  </h4>

<p style="font-size: 25px; text-align: center; font-weight: 600">
  <!-- 1 Tree = ${{ treePrice }} -->
  1 {{ 'CHOOSE-PLANTS.tree' | translate }} = ${{ treePrice }}
</p>

  <!-- <div class="" style="margin: 0px 0% 25px 0%; text-align: center; position: relative;"> -->
    <div class="grey-bg-img">
      <img src="./assets/img/grey-BG.svg" class="" alt="grey" style="width: 320px;">
      <!-- <img src="./assets/img/grey-bg.png" class="" alt="" > -->
      <!-- <span class="minus-img" (click)="onMinusBtn()"> -->
      <img src="./assets/img/minus.svg" class="minus-img" alt="minus button" (click)="onMinusBtn()">
      <!-- </span> -->
      <!-- 19-1-20 del -->
      <!-- <span class="plant-img">
        <img src="./assets/img/plant-icon.svg" class="" alt="plant">
      </span> -->
      <!-- <span> -->
        <input type="search" min="1" max="1000" class="form-control change-no" id="anotherNumber" name="anotherNumber"
          [(ngModel)]="amountOfTrees" maxlength="5" required style="text-align: center;"
          (change)="onChangeNumber(amountOfTrees)">

      <!-- </span> -->
      <!-- 19-1-20 del -->
      <!-- <span class="amount-text">
        X
      </span> -->
      <!-- <span class="plus-img" (click)="onPlusBtn()"> -->
        <img src="./assets/img/plus.svg" class="plus-img" alt="plus button" (click)="onPlusBtn()">
      <!-- </span> -->
    </div>
  <!-- </div> -->
  <!-- (blur)="onBlurNumber(amountOfTrees)"> -->
</div>


<div class="col-sm-12 rgl-title" style="margin: 10px 0 0 0;">
  <span class="form-group">
    <!-- TOTAL DONATION -->
    {{ 'CHOOSE-PLANTS.total' | translate }}:
  </span>
  <span class="">
    ${{ totalAmount }}
  </span>
</div>

<div class="next-btn">
    <button type="button" class="btn btn-block btn-success" (click)="onChooseNext()">{{ 'NEXT-BUTTON' | translate }}</button>
  <!-- {{ 'NEXT-BUTTON' | translate }} -->
</div>

<jw-modal id="error-modal" style="display:none">
  <!-- <h4>kkl alert</h4>
  <hr> -->
  <div class="errorMsg">{{errMsg}}</div>
  <hr>
  <button (click)="closeModal('error-modal');" class="btn btn-success popup-ok-btn">{{ 'OK-BUTTON' | translate }}</button>
</jw-modal>