 
 .rgl-title{
    text-align: center;
    color: #5E5E5E; 
    padding-top: 5%;
    padding-bottom: 4%; 
    
 }
 .small-text{ 
    text-align: center; 
 }

 .certificateText0 {
     border-radius: 25px; 
     background-color: white;
      
 }

 .counttext,.certificateText,.small-text, .cerficbut,.divbtnYes,.divbtnWant{
   font-size: 1em;
 }

 .certificateText{
   margin: 9%;
   border: 0;
   margin-bottom: 0;
 }
 .certificateText1{
     padding-top: 7% !important;
 }
 
.ModalTitle{
   font-weight: bold;
    color: #1F701F;
    font-size: 1.5em;
}
.certiftext{
   color:#1F701F;
}

.pad5p{ 
   padding-bottom: 5%;
   padding-top: 5%;
}
 
.padb8p{
   padding-bottom: 8%;
}

.divbtnYes{ 
   background-color: white;
   border-radius: 25px; 
   min-height: 35px;
}
.divbtnYes:hover, .divbtnYes::selection {
   background: none;
   color:white;
}
.divbtnWant{
   border: 1px solid; 
   border-radius: 25px;
   min-height: 35px;
   color: white;
}
.certifhr{
   margin-top: 0;
   border: 1px solid #1F701F;
   opacity: 0.5;
}
.divbtnWant:hover, .divbtnWant::selection{
   background: none;
   color:white;
}
.fslarge{
   font-size: 1em;
}
textarea::selection, textarea:hover , textarea:focus{
   border: 0 !important;
}

.counttext{
   text-align: right;
   padding-right: 8%;
   padding-bottom: 2%;
   color: #B7B7B7;
   font-weight: 100;
}

.cerficbut{
   color:black;
}
 
@media (min-width: 640px) and (max-width: 700px) {

}
@media (min-width: 768px) and (max-width: 1366px) {
   .submitbut{
      zoom: 2;
   } 
}