@import "~bootstrap/dist/css/bootstrap.min.css";

html { 
    font-family:  'Gilroy', sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; 
} 
body {
    font-family:  'Gilroy', sans-serif; 
    margin: 0 auto;
    padding: 0 !important;
    font-weight: 600;
    height: auto;
    height: 100%;
    color: rgba(0, 7, 0, 1);
    margin: auto;
} 
.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited, .btn-danger:focus, .btn-danger:active:focus {
    background-color: #BF000D !important;
    max-width: 500px !important;
}
.btn-success, .btn-success:active, .btn-success:visited, .btn-success:active:focus {
  
    background-color: #94B9F1 !important;   
    border-color: #94B9F1 !important; 
    border-radius: 25px; 
    min-height: 45px;
}
.btn-success:hover, .btn-primary:focus {
     background-color:  #628CD5 !important;  
     min-height: 45px; 
}
.btn-primary, .btn-primary:active, .btn-primary:visited, .btn-primary:active:focus {
    background-color: #0575a0 !important;  
    border-color: #0575a0 !important;  
}
.btn-primary:hover, .btn-primary:focus {
    background-color: rgb(35, 108, 117) !important; 
}
 
.navbar{
    z-index: 200;
}
.pages-menu{ 
    min-height: 30px;
    padding-top: 0;
    margin-left: 0; 
    margin-top: 4%;
}
.btnmenu{
    background-color: #DDD0BF;
    border-radius: 60%; 
    width: 200%;
    height: 1.5em;
}
.btnmenu >div> hr{
    width: 80%;
}
.btnmenu > div{
    color: white; 
}
.btnmenu:focus,.btnmenu:hover{
    background-color:  #A0B69F; 
}
.selectedmenu{
    background-color:  #926526;
} 
.hrdiv{
    width: 25%;
}
.menuline{
    margin-top: 0.8rem;
    margin-left: 0.3rem;
}
.selectedmenu > div{ 
    color: white;
    position: relative;
    -webkit-transform: translate(8px, 3px);
    transform: translate(1px, 1px);
    font-weight: 900;
}
 .borderstyle{
    box-shadow: 0 10px 10px -5px #0000000A;
    border:0;
    border-radius: 25px;
    min-height: 45px;
}
.centertext{
    text-align: center;
    margin: auto;
}
.Certificatepopup > div > div, .Certificatepopup2 > div > div{
    border-radius: 0 70px 70px 70px;  
   background-image: url(./assets/img/popupBackground.svg) !important;
   background-size: cover !important;
   background-repeat: no-repeat !important;
   background-position: center !important;
 }
 .Certificatepopup > div,.Certificatepopup2 > div   { 
     margin-top: -25%;
 }
  
 .jw-modal-background{
    background-color: rgb(255,255,255,0.9) !important;
 }

 .certificate-img2{
    margin: 0px auto; 
    background-image: url(./assets/img/certifcate-sm.jpg) ; 
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center; 
    height: 410px; 
    width: 100%;
 }
 .canvas2{
     position: relative;
     text-align: center;
     top: 270px;
     margin: 0 25px;
     font-size: 11px;
     padding: 5px 10px;
 }

.textleft{
    text-align: left;
} 
 
 .backgroundmobileimg{ 
    background: url(./assets/img/background.png);
   /* min-height: 90vh;   */ 
    background-size: cover;
    background-repeat: no-repeat; 
    height: calc(100vh - 60px);
 } 
 .shadows{
    box-shadow: 0 10px 10px -5px #0000000A;
    border:0;
 } 
 .submitbut{
    border: 0;
    background: none;
    padding: 0;
    box-shadow: 0 10px 10px -5px #0000000A;

}
.submitbut:hover{
    border: 0;
    background: none;
    padding: 0;
}  
.nexttext{   
    background: linear-gradient(to left, #369D6F, #BED8A5);
    width: 100%;
    height: 35px;
    width: 100%;
    border-radius: 25px;
    padding-top: 3%;
    color: white;
    font-weight: bold; 
    font-size: 1em;
}  

.fontsttyle{
    font-style: Gilroy, ExtraBold;
} 
.fontLite{
   font-weight: 100 ;
}
.fontBoldLite{
    font-weight: 600 ;
 }
 .FONTWID700{
    font-weight: 700;
} 
.fontbolder{
    font-weight: 900;
 }
 .font09em{
    font-size: 0.9em;
 } 
.pad0{
    padding: 0 !important;
}
.padbot0{
    padding-bottom: 0 !important;
}
.padbot3p{
    padding-bottom: 3%;
 }
 .padl2p{
     padding-left: 2%;
 }
 
.padl10p{
    padding-left: 10%;
} 
.padt3p{
    padding-top: 3%;
}
.padt5p{
    padding-top: 5%;
} 
.padt7p{
    padding-top: 7%;
} 
 
.paddt10p{
    padding-top: 10px;
}
.padT15p{
    /* padding-top: 15%; */
}
.paddT30p{
    padding-top: 30%;
}
.padt30p{
    padding-top: 30%;
}
.margbut0{
    margin-bottom: 0;
}
.margb2p{
    margin-bottom: 2%;
}
.marg0{
    margin: 0;
}
.margauto{
    margin: auto;
}
.margtop3p{
    margin-top: 3%;
}
.margtop5p{
    margin-top: 5%;
}
 
/*
footer{
    bottom: 40px;
    position: fixed !important;
    width: 100%;
    padding-top: 10%;
}
*/

.shadowtext{
    text-shadow: 0px 2px #00000087;
}
   
.btn-gradien {
    background: linear-gradient(to left, #369D6F, #BED8A5);
    width: 100%;
    height: 35px;
}

.invalid-input{
    color:red;
}

.imgSelectBut{
    background-image: url(./assets/img/selectBut.svg) ; 
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center; 
}
.imgDefBut{
    background-image: url(./assets/img/defBut.svg) ; 
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center; 
}
.imgafterBut{
    background-image: url(./assets/img/afterbut.svg) ; 
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center; 
}
.minheigthmenbut{
    min-height: 2em;
    width: 1.5em;
}
.hrdiv2{
    width: 25%;
}
.menuline2{
    margin-top: 1em;
    margin-left: 0.2em;
}
input:-internal-autofill-selected { 
    background-color: white !important;
} 

.footer-distributed{
    position: absolute;
    bottom: 5%;
}
@media (min-width: 280px) and (max-width: 319px) {
  
} 
@media (min-width: 320px) and (max-width: 350px) {
    .menuline{
         margin-left: 0.5rem  !important;
    } 
    .paddT30p{
          padding-top: 20% !important;
    } 
   
}   
@media (min-width: 540px) and (max-width: 750px) {
    .minheigthmenbut {
        min-height: 3em;
        width: 2.5em;
    }
    .menuline2 {
        margin-top: 1.5em;
        margin-left: 0.4em;
    }
    .hrdiv2 {
        width: 30%;
    }
}
@media (min-width: 751px) and (max-width: 1366px) {
    .minheigthmenbut {
        min-height: 4em;
        width: 3.5em;
    }
    .menuline2 {
        margin-top: 2em;
        margin-left: 0.4em;
    }
    .hrdiv2 {
        width: 35%;
    }
}

 
 