<!-- header buttons -->
  
<div class="row col-12 pages-menu margbut0 padl10p"> 
  <div class="col-2 pad0"> </div>
  <div class="col-2 pad0">
    <div class="row">
      <div class="col-6 pad"><div class="imgafterBut minheigthmenbut" routerLink="/choose-orderplants"></div></div>
      <div class="col6 hrdiv2"><hr class="menuline2"/></div>
    </div>  
  </div>
  <div class="col-2 pad0">
    <div class="row">
      <div class="col-6 pad"><div class="imgSelectBut minheigthmenbut"  ></div></div>
      <div class="col6 hrdiv2"><hr class="menuline2"/></div>
    </div>  
  </div>
  <div class="col-2 pad0">
    <div class="row">
      <div class="col-6 pad"><div class="imgDefBut minheigthmenbut" ></div></div>
      <div class="col6 hrdiv2"><hr class="menuline2"/></div>
    </div>  
  </div>
  <div class="col-2 pad0">
    <div class="row">
      <div class="col-6 pad"><div class="imgDefBut minheigthmenbut"></div></div>
      <div class="col6"> </div>
    </div>  
  </div>
  </div> 
<div class="row padt3p marg0">
  <div class="col-2 pad0"> </div>
  <div class="col-8 pad0">
    <hr class="marg0" />
  </div>
  <div class="col-2 pad0"></div>
</div>
<!-- End header buttons -->

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="row col-12 pad0 marg0 backgroundmobileimg  pagefont">
    <div class="col-1"></div>
    <div class="col-10 pad0">
      <h6 class="main-title_all fontsiz1p1">
        <!-- Your Information -->
        {{ 'DONORS-DETAILS.title' | translate }}
      </h6>
      <div class="container main" >


        <div class="form-group">
          <input type="text" class="form-control col borderstyle fontsxxlarge" id="firstName" name="firstName"
            placeholder="{{ 'DONORS-DETAILS.fName' | translate }}" [(ngModel)]="firstName" required maxlength="30"
            [ngClass]="{'error-input': (f.submitted) && checkValid(f.controls.firstName)}" /> 
          <span class="invalid-input" *ngIf="(f.controls['firstName']?.touched) && (f.controls['firstName']?.value=='')">
            <!-- Please fill in your first name -->
            {{ 'DONORS-DETAILS.fNameError' | translate }}
          </span>
          <!--             [ngClass]="{'error-input': f.submitted && (f.controls['firstName']?.value=='')}" />
                          (!f.controls['fullName']?.value && !f.submitted)"  -->

        </div>

        <div class="form-group">
          <input type="text" class="form-control col borderstyle fontsxxlarge" id="lastName" name="lastName"
            placeholder="{{ 'DONORS-DETAILS.lName' | translate }}" [(ngModel)]="lastName" required maxlength="20"
            [ngClass]="{'error-input': (f.submitted) && checkValid(f.controls.lastName)}" />
          <span class="invalid-input" *ngIf="(f.controls['lastName']?.touched) && (f.controls['lastName']?.value=='')">
            <!-- Please fill in your last name -->
            {{ 'DONORS-DETAILS.lNameError' | translate }}
          </span>
        </div>

        <div class="form-group">
          <input type="email" class="form-control col borderstyle fontsxxlarge" id="email" name="email"
            placeholder="{{ 'DONORS-DETAILS.email' | translate }}" maxlength="50" [(ngModel)]="email" required
            [ngClass]="{'error-input': invalidEmail && checkValid(f.controls.email)}" />
          <span class="invalid-input" *ngIf="(f.controls['email']?.touched) && (f.controls['email']?.value=='')">
            <!-- Please fill in your email address -->
            {{ 'DONORS-DETAILS.emailError' | translate }}
          </span>
          <span class="invalid-input" *ngIf="(invalidEmail)">
            invalid email            <!-- {{ 'DONORS-DETAILS.emailError' | translate }} -->
          </span>
        </div>

        <div class="form-group">
          <input type="tel" class="form-control col borderstyle fontsxxlarge" id="phone" name="phone"
            placeholder="{{ 'DONORS-DETAILS.phone' | translate }}" [(ngModel)]="phone" minlength="9" maxlength="15"
            required [ngClass]="{'error-input': invalidPhone && checkValid(f.controls.phone)}" />
          <span class="invalid-input" *ngIf="(f.controls['phone']?.touched) && (f.controls['phone']?.value=='')">
            <!-- Please fill in your phone number -->
            {{ 'DONORS-DETAILS.phoneError' | translate }}
          </span>
          <span class="invalid-input" *ngIf="(invalidPhone)">
            invalid phone            <!-- {{ 'DONORS-DETAILS.emailError' | translate }} -->
          </span>
        </div>

        

        <div class="form-group">
          <select name="countryId" class="form-control col borderstyle fontsxxlarge" id="countries"
            [(ngModel)]="countryId" required (change)="onChangeCountry(countryId)">
            <option [value]="null" selected hidden>{{ 'DONORS-DETAILS.select-country' | translate }}</option>
            <option *ngFor="let country of countries" [ngValue]="country.code">
              {{ country.name }}
            </option>
          </select>
            <!-- <span class="col-1" *ngIf="invalidCountry"></span> -->
            <span class="invalid-input" *ngIf="invalidCountry">
              <!-- Please fill in your country -->
              {{ 'DONORS-DETAILS.countryError' | translate }}
            </span>
        </div>

      </div>
    </div>
    <div class="col-1"></div> 
  </div>

  <footer class="footer-distributed col-12 paddt15p ">
    <div class="col-12 "> 
      <button type="submit" class="submitbut col-7">
        <div class="nexttext  ">
          {{ 'NEXT-BUTTON' | translate }}
        </div>
      </button>
    </div>
  </footer>
</form>

<ngx-spinner bdColor="rgba(255,255,255,0.8)" size="medium" color="#926427" type="ball-scale-multiple">
</ngx-spinner>

<jw-modal id="error-modal" style="display:none">
  <!-- <h4>kkl alert</h4>
    <hr> -->
  <div class="errorMsg">{{errMsg}}</div>
  <hr>
  <button (click)="closeModal('error-modal');"
    class="btn btn-success popup-ok-btn">{{ 'OK-BUTTON' | translate }}</button>
</jw-modal>